@charset "UTF-8";
@font-face {
    font-family:otf;
    src: url(../fontes/idroid.otf) format("opentype");
    font-weight: normal;
}
:root {
    --cor1: #c5ebd6;
    --cor2: rgb(188, 255, 218);
    --cor3:#3ddc84;
    --cor4: #2fa866;
   --cor5:#1a5c37;
   --cor6:#063d1e;
   --fonte-padrao: arial , Verdana , Helvetica , sans-serif;
   --fonte-dsetaque: 'Babas Neuve , cursive'; 
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
} 
a.externo::after{
  content: "";  
}
header{
   background-image: linear-gradient(to bottom, var(--cor4),var(--cor6));
       min-height: 150px;
       text-align: center;
       padding-top: 40px;
       font-size: 25px;
    }
header > h1{
    font-family: var(--fonte-dsetaque);
    color: white;
    margin-bottom: 20px;
    font-size: 35px;
    text-shadow: 2px 2px 0px black;
    font-weight: bolder;
}

header >p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 25px;
    margin: auto;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px black;
}
nav{
    background-color: var(--cor6);
    padding: 10px;
 text-shadow: 0px 7px 7px black;
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}
nav > :hover{
   background-color: (--cor3);
    color: var(--cor5);
}
main{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
}

main h1 {
   background-image: linear-gradient(to right ,var(--cor3),var(--cor2));

}

main a{
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
    color: rgb(11, 75, 11);
}
main a:hover{
    text-decoration: underline;
    color: #83e1ad;
}
main strong{
    color: var(--cor5);
    font-weight: bold;
    padding: 2px 6px;

}
main P{
    margin:15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 15px;
    line-height: 1em;
    margin-bottom: 20px;
}
main h2{
    font-family: otf;
  
}
main img{
    width: 100%;
}
main img.pequena{
 max-width: 350px;
 margin: auto;
 display: block;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    position: relative;
    padding: 20px;
}
div.video > iframe{
    width:90%;
    right:90% ;
    margin: auto;
    display: block;
} 
aside h3{
    background-color: var(--cor6);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-type: "✔️ ";
    list-style-position: inside;
    columns: 2;
 
}
aside{
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 10px;
}
footer{
    background-color: var(--cor6);
  color: white;
    text-align: center;

}
footer a{
    color: white;
}

